// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.signup {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
}